:root {
  --pri: #f7ded9;
  --sec: #b07d88;
  --tri1: #8c5f6a;
  --tri2: #e2bbb6;
  --red: red;
  --green: rgb(57, 157, 112);
  --blue: rgb(0, 128, 255);
  --black: black;
  --white: white;
}

@font-face {
  font-family: light;
  src: url(Aeonik/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: normal;
  src: url(Aeonik/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(Aeonik/AeonikTRIAL-Bold.otf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  color: var(--white);
  font-family: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
}
section.allElems {
  height: 100%;
  width: 100%;
  padding: 30px;
  overflow: auto;
  position: absolute;
}
.allElems header {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  background-size: cover;
  background-position: center;
}

header .header1 h2 {
  font-size: 30px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}
header .header1 h1 {
  font-size: 60px;
  font-weight: 700;
  cursor: pointer;
}
header .header1 h4 {
  margin-top: 60px;
  margin-left: 5px;
  font-size: 35px;
  font-weight: 500;
  cursor: pointer;
}
header .header2 h2 {
  font-size: 60px;
  cursor: pointer;
}
header .header2 h4 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}
header .header2 h3 {
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
  cursor: pointer;
}
.allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.elem {
  height: 355px;
  width: 340px;
  font-size: 30px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  box-shadow: 0 5px 10px rgba(142, 142, 142, 0.5);
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  right: 5%;
  font-size: 30px;
  font-weight: 700;
}
.elem:active {
  scale: 0.95;
}
.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
}
.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.back:active {
  scale: 0.95;
}

.todo-list-fullpage h2 {
  font-size: 65px;
  color: var(--pri);
}
.todo-list-fullpage .todo-container {
  height: 80%;
  width: 100%;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list-fullpage .todo-container .addTask {
  width: 34%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}
.todo-container .addTask form input#task-input {
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
}
.todo-container .addTask form textarea {
  padding: 10px 20px;
  width: 100%;
  font-size: 25px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}
.todo-container .addTask form button {
  padding: 10px 20px;
  width: 100%;
  font-size: 24px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 20px;
  font-weight: 700;
  transition: all ease 0.3s;
  cursor: pointer;
  color: var(--pri);
}
.todo-container .addTask form button:active {
  scale: 0.96;
}
.todo-list-fullpage .todo-container .allTask {
  width: 64%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}
.todo-list-fullpage .todo-container .allTask::-webkit-scrollbar{
  display: none;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.task h5 {
  color: var(--sec);
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.task h5 span {
  font-size: 12px;
  background-color: var(--red);
  color: var(--pri);
  border-radius: 5px;
  padding: 2px 4px;
}
.task h5 span.true {
  opacity: 1;
}
.task h5 span.false {
  opacity: 0;
}
.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--green);
  font-size: 16px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.task button:active {
  scale: 0.96;
}
.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  width: 100%;
  gap: 10px;
}
.mark-imp input,
.mark-imp label {
  cursor: pointer;
  color: var(--tri1);
}

.daily-planner-fullpage h2 {
  font-size: 60px;
  color: var(--pri);
}
.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  overflow: auto;
}
.daily-planner-fullpage .day-planner::-webkit-scrollbar{
  display: none;
}
.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}
.day-planner .day-planner-time p {
  position: absolute;
  top: 10%;
  left: 1%;
  font-size: 18px;
  color: var(--pri);
}
.day-planner .day-planner-time input {
  padding: 20px 40px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 25px;
  padding-top: 28px;
  outline: none;
  color: var(--pri);
}

.motivation-fullPage-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.motivational-fullpage .motivation-container {
  height: 300px;
  width: 60%;
  border-radius: 50px;
  position: relative;
}
.motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri2);
  border-radius: 40px;
  scale: 1.15;
  filter: blur(150px);
  z-index: 8;
}
.motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--sec);
  padding: 10px;
  border-radius: 30px;
}
.motivation-1 {
  /* background-color: var(--tri1); */
  padding: 20px;
  border-radius: 15px;
}
.motivation-1 h2 {
  font-size: 40px;
  font-weight: 600;
  color: var(--tri1);
  text-decoration: underline;
}
.motivation-2 {
  padding-left: 30px;
}
.motivation-2 h1 {
  font-size: 40px;
  font-weight: 500;
  color: var(--pri);
}
.motivation-3 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.motivation-3 h2 {
  padding: 15px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: 500;
  text-align: right;
  width: fit-content;
  color: var(--tri2);
}
.pomodoro-fullpage h2 {
  font-size: 65px;
  color: var(--pri);
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer {
  font-size: 90px;
}
.pomo-timer h1{
  color: var(--pri);
}
.pomo-timer button {
  background-color: var(--tri2);
  color: var(--tri1);
  padding: 15px 40px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 6px 0px var(--tri1);
  transition: all ease 0.2s;
  font-weight: 700;
  cursor: pointer;
}
.pomo-timer button:active {
  box-shadow: 0px 0px 0px var(--black);
  scale: 0.98;
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
}
